body { 
background-color: #fff; 
color: #333; 
background: url(../images/header_image.png);
background-repeat: repeat-x;
margin-left: 70px;
width: 750px;
}


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}


#main_nav {
  margin-top: 40px;
  margin-bottom: 50px;
}

#home_link {
  margin-right: 170px;
}

#main_nav div{
  display: inline;
  font-size: 40px;
  padding-right: 30px;
  list-style-position: outside;
}

#main_nav div a{
font-weight: bold;
font-family: "Courier New", Courier, monospace;
text-decoration: none;
color: #000;
}

#main_nav div a:visited{ 
color: #000; 
}

#main_nav div a:hover { 
color: #731; 
background-color: transparent;
}


#kanji_entry {
  font-size: 30px;
}

#word_entry {
  font-size: 20px;
}


a { color: #000; }
a:hover { color: #fff; background-color:#000; }


.small_kanji{
  margin-top: 30px;  
}


.small_kanji div{
  display: inline;
  padding-right: 5px;  
}
.small_kanji a {
font-size: 22px;  
  
}
.small_kanji a:hover {
color: white;
}

#footer {
font-size: 8px;
text-align: center;
}

