<%= render :partial=> '/template' %>

<div id="about">
<p>
If you're a Japanese learner like me, you've probably spent a good deal of time using Jim Breen's dictionary.  It works incredibly well for a multitude of tasks, but more often than not, I've found myself wanting something a little more minimalist.  That's where NinjaDic comes in.  NinjaDic uses Jim Breen's main dictionary files for words and kanji, which contain 13,108 kanji entries and 135,513 word entries.    
</p>

<p>
It's very easy to use.  There are currently 4 types of search that are supported: Kanji, (Multiple)Kanji(+Kana), Kana, and English. If you search one Kanji, you will get the character, along with its readings, frequency, stroke count, JLPT level, Grade, and a list of words that contain the character. If you search for anything other than a single kanji, you will see a list of words that matched your search.  Depending on what you searched, your matches will be based on either the kanji reading (Kanji+Kana), kana reading (Kana), or definition (English) of the word. Currently, searching by romaji is not supported, but it's in the works. 
</p>
<p>
If you're a developer, there's more good news. This project is open source, so if you want to hack on it to adapt it to Farsi, add a picture of your cat, change the name to something less offensive, etc, it's your prerogative.  You can find it on <a href="http://github.com/EvanBurchard/japanese_dictionary/tree/master">github</a>.  This has the same license as the dictionary files themselves (Creative Commons), so basically, you can do whatever you want to it, but you can't sell it.  
</p>



</div>
