<div id="main_nav">
<div id="home_link"><%= link_to "NinjaDic", :root %></div>
<div id="about_link"><%= link_to "About", '/about' %></div>
<div id="contact_link"><%= link_to "Contact", '/contact' %></div>
</div>
